[user]
	name = Daniel Ribeiro
        # change to user env variables when not at home: http://stackoverflow.com/questions/4220416/can-i-specify-multiple-users-for-myself-in-gitconfig
	email = danrbr@gmail.com
[color]
	ui = true

[mergetool "opendiff"]
        cmd = opendiff --merge --result=$MERGED $LOCAL $BASE $REMOTE
        trustExitCode = false

[alias]
        co = checkout
        com = checkout master
        comf = checkout master -f
        c = commit
        ren = branch -m
        b = branch
        s = status
        del = branch -D
        l = log --decorate
        ll = log -p --decorate
        ls = log --stat --decorate
        lg = log --oneline --graph --decorate
        lmy = log --author='Daniel Ribeiro'
        la = log --pretty=format:"%h%x09%an%x09%ad%x09%s"
        touch = commit --allow-empty -m 
        h = help
        info = remote show origin
        which = config --get remote.origin.url
        undo = reset --soft HEAD^
        rh = reset --hard
        ignore = update-index --assume-unchanged
        unignore = update-index --no-assume-unchanged
        a = config --get-regexp alias
        cp = cherry-pick -n
        d = diff --cached
        # from http://stackoverflow.com/questions/424071/list-all-the-files-for-a-commit-in-git
        filesof = diff-tree --no-commit-id --name-only -r
        ldiff = diff --name-status

[core]
	excludesfile = ~/.globalgitignore
[diff]
	tool = opendiff
        
[difftool "opendiff"]
	cmd = opendiff $LOCAL $REMOTE
[rerere]
	enabled = 1
[log]
	decorate = full
[credential]
	helper = cache --timeout=2592000
