# How to do it: http://stackoverflow.com/questions/5241644/using-gitignore-to-ignore-everything-but-specific-directories
*
!.gitignore
!.gitconfig
!.inputrc
!.logcat-color
!.globalgitignore
!bin/
!bin/*
!bin/android
!bin/android/*
!Library/
!Library/Preferences
!Library/Preferences/
!Library/Preferences/RubyMine50
!Library/Preferences/RubyMine50/
!Library/Preferences/RubyMine50/options
!Library/Preferences/RubyMine50/options/
!Library/Preferences/RubyMine50/options/macros.xml
!Library/Preferences/RubyMine50/keymaps
!Library/Preferences/RubyMine50/keymaps/
!Library/Preferences/RubyMine50/keymaps/mymap.xml
!Library/Preferences/IdeaIC12
!Library/Preferences/IdeaIC12/
!Library/Preferences/IdeaIC12/options
!Library/Preferences/IdeaIC12/options/
!Library/Preferences/IdeaIC12/options/macros.xml
!Library/Preferences/IdeaIC12/keymaps
!Library/Preferences/IdeaIC12/keymaps/
!Library/Preferences/IdeaIC12/keymaps/mymap.xml
!Library/Application Support
!Library/Application Support/
!Library/Application Support/Sublime Text 2
!Library/Application Support/Sublime Text 2/
!Library/Application Support/Sublime Text 2/Packages
!Library/Application Support/Sublime Text 2/Packages/
!Library/Application Support/Sublime Text 2/Packages/User
!Library/Application Support/Sublime Text 2/Packages/User/*


Library/Preferences/RubyMine50/keymaps/mymap.xm
*~
.DS_Store
