[user]
	name = Daniel Ribeiro
        # change to user env variables when not at home: http://stackoverflow.com/questions/4220416/can-i-specify-multiple-users-for-myself-in-gitconfig
	email = 148319+danielribeiro@users.noreply.github.com
[color]
	ui = true

[push]
        config = default
        default = current

[rebase]
        autosquash = true

[mergetool "opendiff"]
        cmd = opendiff --merge --result=$MERGED $LOCAL $BASE $REMOTE
        trustExitCode = false

[merge]
        summary = true
        conflictstyle = diff3
        tool = p4mergetool
[mergetool "p4mergetool"]
        cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $PWD/$BASE $PWD/$REMOTE $PWD/$LOCAL $PWD/$MERGED
        trustExitCode = false

[alias]
        co = checkout
        com = checkout master
        comf = checkout master -f
        c = commit
        ren = branch -m
        b = branch
        s = status
        del = branch -D
        rdel = push origin --delete
        l = log --decorate
        ll = log -p --decorate
        ls = log --stat --decorate
        lg = log --oneline --graph --decorate
        lmy = log --author='Daniel Ribeiro'
        llmy = log -p --decorate --author='Daniel Ribeiro'
        lsmy = log --stat --decorate --author='Daniel Ribeiro'
        la = log --pretty=format:"%C(yellow)%h%C(reset)%x09%an%x09%ad%x09%s" # short log with timestamps
        touch = commit --allow-empty -m 
        h = help
        info = remote show origin
        which = config --get remote.origin.url
        undo = reset --soft HEAD^
        rh = reset --hard
        ignore = update-index --assume-unchanged
        unignore = update-index --no-assume-unchanged
        a = !sh -c 'git config --get-regexp alias | sort'
        cp = cherry-pick -n
        d = diff --cached
        untrack = rm --cached
        # from http://stackoverflow.com/questions/424071/list-all-the-files-for-a-commit-in-git
        filesof = diff-tree --no-commit-id --name-only -r
        ldiff = !git --no-pager diff --stat --color
        put = stash
        pop = stash apply
        whotf = shortlog -s -n
        realblame = blame -M -C -C -w
        tip = rev-parse HEAD
        ra = rebase --abort
        rc = rebase --continue

[core]
	excludesfile = ~/.globalgitignore
	editor = subl -n -w
[diff]
	tool = p4mergetool
        
[rerere]
	enabled = 1
[log]
	decorate = full
[credential]
	helper = cache --timeout=2592000

[difftool "p4mergetool"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $LOCAL $REMOTE
