# How to do it: http://stackoverflow.com/questions/5241644/using-gitignore-to-ignore-everything-but-specific-directories
*
!.gitignore
!.gitconfig
!.inputrc
!.logcat-color
!bin/
!bin/*
!Library/
!Library/Preferences
!Library/Preferences/
!Library/Preferences/RubyMine50
!Library/Preferences/RubyMine50/
!Library/Preferences/RubyMine50/keymaps
!Library/Preferences/RubyMine50/keymaps/
!Library/Preferences/RubyMine50/keymaps/mymap.xml
Library/Preferences/RubyMine50/keymaps/mymap.xm
.DS_Store
