# How to do it: http://stackoverflow.com/questions/5241644/using-gitignore-to-ignore-everything-but-specific-directories
*
!.gitignore
!.gitconfig
!.inputrc
!.logcat-color
!.globalgitignore
!.git-completion.sh
!.bash_profile.template
!.apple_terminal_color.terminal
!bin/
!bin/*
!bin/android
!bin/android/*
!Library/
!Library/Preferences
!Library/Preferences/
!Library/Preferences/PyCharm30
!Library/Preferences/PyCharm30/
!Library/Preferences/PyCharm30/options
!Library/Preferences/PyCharm30/options/
!Library/Preferences/PyCharm30/options/macros.xml
!Library/Preferences/PyCharm30/keymaps
!Library/Preferences/PyCharm30/keymaps/
!Library/Preferences/PyCharm30/keymaps/mymap.xml
!Library/Preferences/RubyMine60
!Library/Preferences/RubyMine60/
!Library/Preferences/RubyMine60/options
!Library/Preferences/RubyMine60/options/
!Library/Preferences/RubyMine60/options/keymap.xml
!Library/Preferences/RubyMine60/options/colors.scheme.xml
!Library/Preferences/RubyMine60/colors
!Library/Preferences/RubyMine60/colors/
!Library/Preferences/RubyMine60/colors/*
!Library/Preferences/RubyMine60/templates/
!Library/Preferences/RubyMine60/templates/*
!Library/Preferences/RubyMine60/options/macros.xml
!Library/Preferences/RubyMine60/keymaps
!Library/Preferences/RubyMine60/keymaps/
!Library/Preferences/RubyMine60/keymaps/mymap.xml
!Library/Preferences/IdeaIC12
!Library/Preferences/IdeaIC12/
!Library/Preferences/IdeaIC12/options
!Library/Preferences/IdeaIC12/options/
!Library/Preferences/IdeaIC12/options/macros.xml
!Library/Preferences/IdeaIC12/keymaps
!Library/Preferences/IdeaIC12/keymaps/
!Library/Preferences/IdeaIC12/keymaps/mymap.xml
!Library/Application Support
!Library/Application Support/
!Library/Application Support/KeyRemap4MacBook
!Library/Application Support/KeyRemap4MacBook/
!Library/Application Support/KeyRemap4MacBook/*
!Library/Application Support/Sublime Text 2
!Library/Application Support/Sublime Text 2/
!Library/Application Support/Sublime Text 2/Packages
!Library/Application Support/Sublime Text 2/Packages/
!Library/Application Support/Sublime Text 2/Packages/User
!Library/Application Support/Sublime Text 2/Packages/User/*


*~
.DS_Store
